/****************************************
  Inherited Syles
*****************************************/

/*
See this explanation for details
https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/

html {
    box-sizing: border-box;
    color: #444;
    font: 12pt 'Open Sans', Arial;
    font-weight: 300;
}

*, *::before, *::after {
    box-sizing: inherit;
    color: inherit;
    font: inherit;
}


/****************************************
  Defaults
*****************************************/

h1,
h2,
h3,
h4 {
  font-family: 'Sanchez', serif;
  text-transform: uppercase;
}

h1 {
  font-size: 45px;
}

p {
  line-height: 28px;
  font-size: 16px;
}

.page a {
  text-decoration: none;
}

/****************************************
  Helpers
*****************************************/


/****************************************
  Layout
*****************************************/

.page {
  width: 100%;
  text-align: center;
}

/**
 * Primary Header
 */

.page header {
  position: fixed;
  background: #fff;
  top: 0;
  width: 100%;
  padding: 0;
  height: 100px;
}

.info-bar {
  display: flex;
  padding: 20px 20px 20px 5px;
  text-transform: uppercase;
}

.logo {
  flex: 1;
  text-align: left;
  font-weight: 600;
  font-size: 25px;
  letter-spacing: 2px;
  padding-left: 5px;
}

.logo span {
  color: #e41f29;
}

.controls {
  flex: 1;
  text-align: right;
  letter-spacing: 1px;
  font-weight: 800;
}

.controls span {
  font-weight: 700;
}

.controls a {
  display: inline-block;
}

.main-nav ul {
  display: flex;
  padding: 20px 100px;
  background: #000;
}

.main-nav li {
  flex: 1;
  list-style-type: none;
}

.main-nav a {
  color: #fff;
  padding: 20px;
  text-decoration: none;
}

.main-nav a:hover {
  color: #e41f29;
}

/**
 * Intro
 */

.intro {
  margin-top: 200px;
  margin-bottom: 50px;
}

.intro h1 {
  font-family: "Oswald", serif;
  letter-spacing: 1px;
}

.img-collage {
  display: flex;
  width: 90%;
  height: 320px;
  margin: 60px auto 40px auto;
}

.img-lg {
  width: 50%;
  background: orange;
  background-image: url(../images/adam-800px.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.img-cluster {
  flex: 1;
  height: 100%;
}

.img-row1 {
  height: 50%;
  background-image: url(../images/styles-conf.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 0 5px 5px;
  border: 1px solid #bbb;
}

.img-row2 {
  display: flex;
  height: 50%;
}

.img-row2 > div {
  flex: 1;
  background: pink;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 0 5px 5px;
}

.intro > p {
  width: 60%;
  margin: 0 auto;
}

/**
 * Characteristics
 */

.characteristics h1 {
  text-transform: uppercase;
  color: #fff;
  background: #24b7bd;
  padding: 50px 0;
  letter-spacing: 3px;
}

.decoration {
  top: -30px;
  width: 0;
  height: 0;
  margin: 0 auto;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #24b7bd;
  position: relative;
  z-index: -1;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.tile {
  width: calc(33.33% - 30px);
  margin: 10px;
}

.tile i,
.tile h2 {
  color: #24b7bd;
}

.tile i {
  margin: 5px;
  font-size: 40px;
  vertical-align: middle;
}

/**
 * Perks
 */

.perks .container {
  width: 100%;
  padding-top: 45px;
  padding-bottom: 80px;
  /*background-image: url(http://www.revolutionparts.com/wp-content/uploads/2015/10/hero2.jpg);*/
  background: linear-gradient(
    rgba(64, 64, 64, .95),
    rgba(64, 64, 64, .95)
    ),
    url(../images/adam-felicity-ny.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.perks h1 {
  color: #fff;
}

/**
 * Perks
 */

.closing {
  padding-bottom: 100px;
}

.closing h1 {
  padding-top: 45px;
}

.closing h3 {
  padding-top: 20px;
}

.closing > p {
  width: 80%;
  margin: 0 auto;
  font-size: 14px;
  line-height: 22px;
}

/**
 * Contact
 */

.contact {
  padding-top: 80px;
  color: #fff;
  background: #1a1a1a;
}

.contact h1 {
  margin-bottom: 0;
}

.contact h4 {
  margin-top: 0;
  font-family: "Open Sans";
  letter-spacing: 2px;
}

.columns {
  display: flex;
}

.columns h3 {
  font-family: "Open Sans";
  font-size: 22px;
  text-transform: none;
}

.column {
  flex: 1;
}

.social ul {
  text-align: center;
  margin: 0;
}

.social li {
  display: inline-block;
  list-style-type: none;
  margin: 50px 10px;
}

.social li:hover {
  color: #000;
}

.social a {
  display: inline-block;
  font-size: 30px;
  width: 75px;
  height: 75px;
  text-align: center;
  line-height: 75px;
  position: relative;
}

.social a:before {
  content: "";
  position: absolute;
  top: 11px;
  left: 11px;
  z-index: 1;
  background-color: #e41f29;
  width: 52px;
  height: 52px;
  transform: rotate(45deg);
}

.social a:hover:before {
  background-color: #fff;
}

.social i {
  position: relative;
  z-index: 999;
}

/**
 * Footer
 */

.page footer {
  font-family: "Sanchez";
  padding-bottom: 30px;
  letter-spacing: 1px;
}

/****************************************
  Components
*****************************************/

.controls .phone {
  font-size: 14px;
}

.phone span {
  color: #444747;
}

.btn {
  padding: 10px 20px;
  border-radius: 20px;
  margin: 0 10px;
}

.btn-action {
  color: #fff;
  background: #e41f29;
  font-size: 12px;
  font-family: "Sanchez";
  border: 1px solid transparent;
  letter-spacing: 2px;
}

.btn-action:hover {
  color: #e41f29;
  background: #fff;
  border: 1px solid #e41f29;
}


