/****************************************
  Inherited Syles
*****************************************/

/*
See this explanation for details
https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/

html {
    box-sizing: border-box;
    color: #444;
    font: 12pt 'Open Sans', Arial;
    font-weight: 300;
}

*, *::before, *::after {
    box-sizing: inherit;
    color: inherit;
    font: inherit;
}


/****************************************
  Defaults
*****************************************/

h1,
h2,
h3,
h4 {
  font-family: 'Sanchez', serif;
  text-transform: uppercase;
}

h1 {
  font-size: 3em;
}

p {
  line-height: 1.8em;
  font-size: 1em;
}

.page a {
  text-decoration: none;
}

/****************************************
  Helpers
*****************************************/


/****************************************
  Layout
*****************************************/

.page {
  text-align: center;
}

/**
 * Primary Header
 */

.page header {
  position: fixed;
  background: #fff;
  top: 0;
  width: 100%;
  padding: 0;
  z-index: 999;
}

.info-bar {
  display: flex;
  padding: 1.25em 1.25em 1.25em .25em;
  text-transform: uppercase;
}

.logo {
  flex: 1;
  text-align: left;
  font-weight: 600;
  font-size: 1.5em;
  letter-spacing: 2px;
  padding-left: 5px;
}

.logo span {
  color: #e41f29;
}

.controls {
  flex: 1;
  text-align: right;
  letter-spacing: 1px;
  font-weight: 800;
}

.controls span {
  font-weight: 700;
}

.controls a {
  display: inline-block;
}

.main-nav ul {
  display: flex;
  padding: 1.25em 7em;
  margin: 0;
  background: #000;
}

.main-nav li {
  flex: 1;
  list-style-type: none;
}

.main-nav a {
  color: #fff;
  padding: 1.25em;
  text-decoration: none;
}

.main-nav a:hover {
  color: #e41f29;
}

/**
 * Intro
 */

.intro {
  margin-top: 13em;
  margin-bottom: 3.5em;
}

.intro h1 {
  font-family: "Oswald", serif;
  letter-spacing: 1px;
}

.img-collage {
  display: flex;
  width: 90%;
  height: 320px;
  margin: 4.4em auto 0 auto;
}

.img-lg {
  width: 50%;
  background: orange;
  background-image: url(../images/adam-800px.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.img-cluster {
  flex: 1;
  height: 100%;
}

.img-row1 {
  height: 50%;
  background-image: url(../images/styles-conf.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 0 5px 5px;
  border: 1px solid #bbb;
}

.img-row2 {
  display: flex;
  height: 50%;
}

.img-row2 > div {
  flex: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 0 5px 5px;
}

.intro h3 {
  font-size: 1.2em;
}

.intro > p {
  width: 60%;
  margin: 0 auto;
}

/**
 * Characteristics
 */

.characteristics h1 {
  color: #fff;
  background: #24b7bd;
  padding: 1em 0;
  letter-spacing: 3px;
}

.decoration {
  top: -32px;
  width: 0;
  height: 0;
  margin: 0 auto;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #24b7bd;
  position: relative;
  z-index: -1;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
  margin: 1.25em;
}

.tile {
  width: calc(33.33% - 30px);
  margin: 10px;
}

.tile i,
.tile h2 {
  font-size: 1.2em;
  color: #24b7bd;
}

.tile i {
  margin: .25em;
  font-size: 2.5em;
  vertical-align: middle;
}

/**
 * Perks
 */

.perks .container {
  width: 100%;
  padding-top: 45px;
  padding-bottom: 80px;
  background: linear-gradient(
    rgba(64, 64, 64, .95),
    rgba(64, 64, 64, .95)
    ),
    url(../images/adam-felicity-ny.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.perks img {
  width: 100%;
}

.perks h1 {
  color: #fff;
}

/**
 * Closing
 */

.closing {
  padding-bottom: 100px;
}

.closing h1 {
  padding-top: 45px;
}

.closing h3 {
  padding-top: 20px;
}

.closing > p {
  width: 80%;
  margin: 0 auto;
  font-size: .9em;
  line-height: 1.5em;
}

/**
 * Contact
 */

.contact {
  padding-top: 80px;
  color: #fff;
  background: #1a1a1a;
}

.contact h1 {
  margin-bottom: 0;
}

.contact h4 {
  margin-top: 0;
  font-family: "Open Sans";
  letter-spacing: 2px;
}

.columns {
  display: flex;
}

.columns h3 {
  font-family: "Open Sans";
  font-size: 22px;
  text-transform: none;
}

.column {
  flex: 1;
}

.social ul {
  text-align: center;
  margin: 0;
  padding: 0;
}

.social li {
  display: inline-block;
  list-style-type: none;
  margin: 3em .5em;
}

.social li:hover {
  color: #000;
}

.social a {
  display: inline-block;
  font-size: 30px;
  width: 75px;
  height: 75px;
  text-align: center;
  line-height: 75px;
  position: relative;
}

.social a:before {
  content: "";
  position: absolute;
  top: 11px;
  left: 11px;
  z-index: 1;
  background-color: #e41f29;
  width: 52px;
  height: 52px;
  transform: rotate(45deg);
}

.social a:hover:before {
  background-color: #fff;
}

.social i {
  position: relative;
  z-index: 998;
}

/**
 * Footer
 */

.page footer {
  font-family: "Sanchez";
  padding-bottom: 30px;
  letter-spacing: 1px;
}

/****************************************
  Components
*****************************************/

.controls .phone {
  font-size: 14px;
}

.phone span {
  color: #444747;
}

.btn {
  padding: 10px 20px;
  border-radius: 20px;
  margin: 0 10px;
}

.btn-action {
  color: #fff;
  background: #e41f29;
  font-size: 12px;
  font-family: "Sanchez";
  border: 1px solid transparent;
  letter-spacing: 2px;
}

.btn-action:hover {
  color: #e41f29;
  background: #fff;
  border: 1px solid #e41f29;
}


/************************
media query start  768px*
************************/

@media only screen and (max-width: 768px) {
  
  .logo {
    font-size: 1em;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    text-align: center;
  }

  .info-bar {
    padding: 0;
    margin: 0;
  }

  .controls {
    display: none;
  }
  
  .main-nav ul {
    margin: 0;
    padding: 0;
  }

  .main-nav li {
    padding: 20px;
  }
  
  .tile {
    width: 100%;
  }

  .perks {
    display: none;
  }

  .closing h1 {
    font-size: 2em;
  }

  .contact {
    padding-top: 20px;
    padding-left: 2em;
    padding-right: 2em;
  }

  .contact h1 {
    font-size: 2em;
    margin-top: 0;
  }

  .contact h3 {
    margin-bottom: 0;
  }
  
  .columns {
    display: block;
    text-align: center;
    margin: 0 10px;
  }

  .column {
    display: block;
    width: 60%;
    text-align: left;
    margin: 0 auto;
  }

  .social a {
    width: 48px;
    height: 48px;
    line-height: 52px;
  }

  .social a:before {
    top: 5px;
    left: 5px;
    width: 39px;
    height: 39px;
  }

}

/************************
media query start  480px*
************************/

@media only screen and (max-width: 480px) {
  .closing h1 {
    font-size: 1.5em;
  }
  
  .contact {
    padding-left: .5em;
    padding-right: .5em;
  }


  .contact h1 {
    font-size: 1.5em;
    margin-top: 0;
  }

  .column a {
    font-size: .8em;
    width: 100%;
  }
  
  .column address {
    font-size: .8em;
    width: 100%;
  }

}